* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins", sans-serif;
 scroll-behavior: smooth;
}

:root {
  --bg-color: #2a374a;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 9rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1.1px solid var(--main-color);
 box-shadow:0 0 1rem var(--main-color) ;
}
.logo {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

.navbar a:hover {
  color: var(--main-color);
  font-size: large;
  transition: 0.3s;
}
.navbar a.active {
  color: var(--main-color);

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 25vw;
  height: 55vh;
  border: 10px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 5rem var(--main-color);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
}
.second-head {
  margin: 2rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid var(--main-color);
  background: transparent;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 2rem 1.5rem 2rem 0;
}
.social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 2rem var(--main-color);
}

span {
  color: var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 2.5rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  font-weight: 600;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: none;
}

/* about me */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
 
}
.about-img img {
  width: 25vw;
  height: 55vh;
  border: 10px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 3rem var(--main-color);
}
.image {
  height: 60vh;
  width: 27vw;
  border: 1px solid var(--main-color);
  padding: 15px 21.5px;
  border-radius: 50%;
  box-shadow: 0 0 3rem var(--main-color);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;

}
.about-content h3{
    font-size: 2.6rem;
}

.about-content{
    margin-left: 3rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* projects */
.project{
  background-color: var(--bg-color);
  padding-bottom:5rem ;
}
.project h2{
  margin-bottom: 3rem;
  
}

.project-box img{
  height: 25rem;
  width: 30rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  
}
.project-container{
 display: grid;
  grid-template-columns: repeat(3, 1fr);align-items: center;
  gap: 1.5rem;
}
.project-layer h4{
  padding: .8rem 0rem .8rem;
  font-size: 1.5rem;
}
.project-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .project-layer p{
   font-size: 1.3rem;
   margin: .3 0 1rem;
   text-align: justify;
   color: var(--main-color);
  }

  .project-layer a{
    width: 4rem;
    height: 3.5rem;
  }
  .project-layer a i{
    color: var(--text-color);
    font-size: 1.5rem;
  }
  .project-layer a i:hover{
    font-weight: bold;
    transition: 0.6s;
  }

  /* skill  */
.skill{
  background: var(--second-bg-color);
}


/* contact me */
.contact{
  background: var(--bg-color);
}
.contact h2{
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
}
.contact form {
max-width: 70rem;
margin: 2rem auto;
text-align: center;
margin-bottom: 4rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.contact form .input-box input, 
.contact form textarea{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: .8rem;
  margin: .5rem 0;
 border: none;
}
.contact form .input-box input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top : 2rem;
  cursor: pointer;
  border: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
}

.footer p {
  font-size: 1.6rem;
}
.footer-icon a {
	position:fixed;
	bottom:3%;
	right:2%;
  background-color: var(--main-color);
  padding: .8rem;
  border-radius: .8rem;


align-items: center;
transition: .5s ease;
}
.footer-icon a:hover{
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i{
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-icon {    border-top: 2px solid #0ef;
    position: relative;
    bottom: 0px;
}

 


  
